@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website with some events listed which you can join.</p>
    <a href="Events" type="button" class="btn btn-primary">Register</a>
    <a href="Events" type="button" class="btn btn-primary">Log in</a>
</div>
